<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>PayPal Button Example</title>
    <style>
      .box {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100vh;
      }

      .paypal-logo {
        font-family: Verdana, Tahoma;
        font-weight: bold;
        font-size: 26px;
      }

      .paypal-logo i:first-child {
        color: #253b80;
      }

      .paypal-logo i:last-child {
        color: #179bd7;
      }

      .paypal-button {
        padding: 15px 30px;
        border: 1px solid #ff9933;
        border-radius: 5px;
        background-image: linear-gradient(#fff0a8, #f9b421);
        margin: 0 auto;
        display: block;
        min-width: 138px;
        position: relative;
      }

      .paypal-button-title {
        font-size: 14px;
        color: #505050;
        vertical-align: baseline;
        text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.6);
      }

      .paypal-button .paypal-logo {
        display: inline-block;
        text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.6);
        font-size: 20px;
      }
    </style>
  </head>
  <body>
    <div class="box">
      <span class="paypal-logo"> <i>Pay</i><i>Pal</i> </span>

      <br />

      <form action="/paypal">
        <button class="paypal-button" type="submit">
          <span class="paypal-button-title"> Buy now with </span>
          <span class="paypal-logo"> <i>Pay</i><i>Pal</i> </span>
        </button>
      </form>
    </div>
  </body>
</html>
